<div class="header">Hyperion Explorer</div>
<div style="padding-left: 10px" *ngIf="accountData">
  <h4>Account: {{accountData['account_name']}}</h4>
  <p><strong>Liquid Balance: {{accountData['core_liquid_balance']}}</strong></p>
  <p>RAM: {{accountData['ram_usage']}} bytes / {{accountData['ram_quota']}} bytes
    ({{(accountData['ram_usage'] / accountData['ram_quota']) * 100 | number}}%)</p>
  <p>CPU: {{accountData['cpu_limit']['used']}} us / {{accountData['cpu_limit']['max']}} us
    ({{(accountData['cpu_limit']['used'] / accountData['cpu_limit']['max']) * 100 | number}}%)</p>
  <p>NET: {{accountData['net_limit']['used']}} bytes / {{accountData['net_limit']['max']}} bytes
    ({{(accountData['net_limit']['used'] / accountData['net_limit']['max']) * 100 | number}}%)</p>

  <h5>Permissions</h5>

  <div *ngFor="let perm of accountData['permissions']">
    <strong>{{perm['perm_name']}} <span *ngIf="perm['parent'] !== ''">[{{perm['parent']}}]</span> -
      threshold: <span>{{perm['required_auth']['threshold']}}</span></strong>
    <div *ngIf="perm['required_auth']['keys'].length > 0">
      <p>Keys</p>
      <div *ngFor="let key of perm['required_auth']['keys']"> - {{key.key}} - weight: {{key.weight}}</div>
    </div>
    <div *ngIf="perm['required_auth']['accounts'].length > 0">
      <p>Accounts</p>
      <div *ngFor="let acct of perm['required_auth']['accounts']"> - {{acct.permission['actor']}}
        @{{acct.permission['permission']}} - weight: {{acct.weight}}</div>
    </div>
    <div *ngIf="perm['required_auth']['waits'].length > 0">
      <p>Waits</p>
      <div *ngFor="let wait of perm['required_auth']['waits']"> - {{wait['wait_sec']}} - weight: {{wait.weight}}</div>
    </div>
  </div>

  <ngx-json-viewer [json]="accountData"></ngx-json-viewer>

  <h4>Actions</h4>

  <div class="action-card" *ngFor="let action of actions">
    <p>{{action['act']['account']}}::{{action['act']['name']}}
      <a href="https://bloks.io/transaction/{{action['trx_id']}}" target="_blank">{{action['trx_id']}}</a>
    </p>
    <p>{{action['@timestamp']}} - {{action['block_num']}}</p>
    <p>{{action['notified'].join(", ")}}</p>
    <p>{{action['act']['authorization'][0].actor}}@{{action['act']['authorization'][0].permission}}</p>
    <div *ngFor="let item of action['act']['data'] | keyvalue">
      <b>{{item.key}}</b>: <b>{{item.value}}</b>
    </div>
  </div>

  <h4>Tokens</h4>

  <div *ngFor="let token of tokens">
    <ngx-json-viewer [json]="token"></ngx-json-viewer>
  </div>
</div>
