# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

.idea
*.pem
package-lock.json
connections.json
connections.json2
api_access.log
api_error.log
.ecosystem.config.js.swp

chains/*
!chains/example.config.json

plugins/.state.json
plugins/repos
plugins/*.js
.gitmodules

docker/redis/data
docker/elasticsearch/data
docker/rabbitmq/data
docker/eosio/data

configuration_backups
