node_modules/
.npm
.idea
package-lock.json
*.tsbuildinfo

# Runtime data
pids
*.pid
*.seed
*.pid.lock

api_access.log
api_error.log

# plugins
plugins/.state.json
plugins/repos
plugins/*.js

# docker storage
docker/redis/data
docker/elasticsearch/data
docker/rabbitmq/data
docker/eosio/data

# transpiled output
dist

# configuration
config
!config/chains/example.config.json

# logging
logs

# chain state temp files
state
