@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f4f5f8;
  margin: 0;
}

/*container responsive*/
@media screen and (max-width: 576px) {
  .container {
    padding: 30px 10px;
    width: 100vw;
  }
}
@media (min-width: 577px) and (max-width: 1049px) {
  .container {
    padding: 30px 50px;
    width: 100vw;
  }
}
@media (min-width: 1050px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding: 30px 16px;
    max-width: 1024px;
    width: 100vw;
  }
}
/*container responsive ends*/

/*scroll bar*/
::-webkit-scrollbar-track {
  background-color: #f4f5f8;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f4f5f8;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ebecef;
}

/*scroll bar end*/

.w-500 {
  font-weight: 500;
}

.break-word {
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-word;
  white-space: normal;
}

.div-link {
  cursor: pointer;
  outline: none;
}

.link-gray {
  color: gray;
}
.link-blue {
  color: #00aee7;
}
