.container {
  margin-top: 112px;
}

.title {
  font-size: 21px;
  color: #00a6de;
  font-weight: 500;
}

.used {
  margin-left: 7px;
}

.faded {
  color: #a4a4a4;
}

.actions-table {
  width: 100%;
}

.data-item {
  padding-bottom: 4px;
}

/*table responsive*/
@media (max-width: 599px) {
  .mat-table .mat-header-row {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .mat-table .mat-header-row th.mat-header-cell {
    display: none;
  }

  .mat-table .mat-header-row th.mat-header-cell>.mat-sort-header-container {
    padding-left: 15px;
  }

  .mat-table .mat-header-row th.mat-header-cell>.mat-sort-header-container:not([mat-sort-header]),
  .mat-table .mat-header-row th.mat-header-cell>.mat-sort-header-container.mat-sort-header-disabled,
  .mat-table .mat-header-row th.mat-header-cell>.mat-sort-header-container.mat-column-actions {
    display: none;
  }


  .mat-table .mat-row {
    height: auto;
  }

  .mat-table .mat-row td.mat-cell:not(.mat-column-actions) {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0.5rem;
    text-align: right;
    word-break: break-word;
  }

  .mat-table .mat-row td.mat-cell:not(.mat-column-actions) > * {
    grid-column: 2;
  }

  .mat-table .mat-row td.mat-cell:not(.mat-column-actions):before {
    content: attr(data-label);
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
  }

  .mat-table .mat-row td.mat-column-actions {
    display: flex;
    justify-content: center;
    padding: 0 0.5rem;
  }

  .mat-table .mat-row td.mat-column-actions>button {
    margin: 0.5rem 0;
  }

  .mat-table .mat-row:last-of-type td:last-of-type {
    border: none;
  }

  .mat-table .mat-row:not(:last-of-type) td:last-of-type {
    border-bottom: 0.5rem solid #e5e5e5;
    padding-bottom: 20px !important;
    margin-bottom: 20px;
  }

  .mat-card .mat-expansion-panel .mat-table {
    border: 0.5rem solid #fafafa;
  }
}
